*{

box-sizing: border-box;
padding: 0;
margin: 0;
}


body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;

}



.card-img {
align-items: center;
justify-content: center;
display: flex;
width: 300px;
height: 300px;
border-radius: 10px;
margin: 15px;
transition: 0.6s;
transform: scale(1.03);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

}

.card-img:hover {

    zoom: 120%;
    cursor: zoom-in;
    transform: scale(1.05);
transition: 0.3s ease-in-out;


}


.card {

align-items: left;
justify-content: center;


}

p {

    margin: 15px;
}


.container button {

width: 200px;
height: 25px;
border-radius: 5px;
margin: 15px;
cursor: pointer;
}

.container button:hover {

background-color: wheat;
transition: 0.6s;

}


@media screen and (max-width: 768px) {


   
    
}