body {


    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.traffic-light {

background-color: #333;
padding: 20px;
border-radius: 20px;
display: flex;
flex-direction: column;
gap: 15px;
box-shadow: 0px 0px 20px #000 ;
}

.light {


    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #111;
    box-shadow: inset 0px 0px 20px #000;
}




.red {

animation: redLight 6s infinite;

}

.yellow {

    animation: yellowLight 6s infinite;
}

.green {

animation: greenLight 6s infinite;

}


@keyframes redLight {


     0%, 33% { background-color: red; box-shadow: 0 0 20px red; }

}

@keyframes yellowLight {

0%, 33% { background-color: yellow; box-shadow: 0 0 20px yellow;}
}

@keyframes greenLight {

0%, 33% { background-color: green; box-shadow: 0 0 20px green;}

}