* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(to right, #00c6ff, #0072ff);
}

.login-container{
    
width: 100%;
max-width: 400px;
padding: 20px;
}

.Login-Form{
background-color: white;
width: 400px;
height: 300px;
padding: 12px 15px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 14px;
}

.Login-Form h2{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.Login-Form input{

width: 100%;
padding: 12px 15px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 14px;
}

.Login-Form button{
   width: 100%;
   padding: 12px;
   background: #667eea;
 color: white;
 border: none;
 border-radius: 8px;
 font-size: 16px;
 transition: 0.3s;
 cursor: pointer;
}

.Login-Form button:hover {
color: #5a67d8;
}

.Login-Form p { 

margin-top: 15px;
font-size: 14px;
text-align: center;

}
.Login-Form a {

text-decoration: none;
color: #5a67d8;
} 